@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk';
}
.fix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-left: 360px;
}
.blue-box {
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(121, 87, 255, 0.966), hsla(241, 81%, 54%, 0.938) );
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    max-width: 360px;
}
.result {
    color: rgba(255, 255, 255, 0.836);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}
.circle {
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 0.8), hsla(241, 72%, 46%, 0.05));
    border-radius: 50%;
    height: 140px;
    width: 140px;
    align-self: center;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.number {
    font-size: 48px;
    color: white;
    font-weight: 900;
}
.out {
    color: rgba(255, 255, 255, 0.582);
}
.win {
    font-size: 36px;
    color: rgba(255, 255, 255, 0.925);
    font-weight: 700;
    margin-bottom: 8px;
}
.stat {
    color: rgba(255, 255, 255, 0.836);
    margin-bottom: 10px;
    font-size: 16px;
    width: 240px;
}
.white-box {
    display: flex;
    flex-direction:  column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 255, 0.233);
    min-width: 520px;
    min-height: 383px;
    padding: 20px;
    position: relative;
    align-items: end;
    right: 260px;
    z-index: -1;
}
.statistic {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 10px;
    right: 130px;
    margin-bottom: 10px;
}
.red {
    background-color: hsla(0, 100%, 67%, 0.2);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    position: relative;
    top: 20px;
}
.emotion {
    color: hsla(0, 100%, 67%, 1);
    font-weight: 600;
    position: relative;
    right: 14px;
}
.score-1 {
    font-weight: 600;
    position: relative;
    left: 15px;
}
.ugh {
    font-weight: 600;
    color: #0000007a;
}
.yellow {
    background-color: hsla(39, 100%, 56%, 0.2) ;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    position: relative;
    top: 20px;
    margin-top: 14px;
}
.green {
    background-color: hsl(166, 100%, 37%, 0.2) ;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    position: relative;
    top: 20px;
    margin-top: 14px;
}
.blue {
    background-color: hsl(234, 85%, 45%, 0.2) ;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    position: relative;
    top: 20px;
    margin-top: 14px;
}
.memory {
    color: hsla(39, 100%, 56%, 1);
    font-weight: 600;
    position: relative;
    right: 14px;
}
.score-2 {
    font-weight: 600;
    position: relative;
    left: 15px;
}
.hah {
    font-weight: 600;
    color: #0000007a;
}
.verbal {
    color:  hsl(166, 100%, 37%, 1);
    font-weight: 600;
    position: relative;
    right: 14px;
}
.score-3 {
    font-weight: 600;
    position: relative;
    left: 15px;
}
.bah {
    font-weight: 600;
    color: #0000007a;
}
.visual {
    color: hsla(39, 100%, 56%, 1);
    font-weight: 600;
    position: relative;
    right: 14px;
}
.score-4 {
    font-weight: 600;
    position: relative;
    left: 15px;
}
.muah {
    font-weight: 600;
    color: #0000007a;
}
